---
import '../styles/global.css';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment - Sue's Homeopathy</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div class="background-circles" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;">
            <div class="circle circle1"></div>
            <div class="circle circle2"></div>
            <div class="circle circle3"></div>
        </div>
        <div class="top">
            <div class="logo">
                <img src="images/logo.png" alt="Sue Lyn Homeopathy Logo">
            </div>
            <nav class="navigation">
                <a href="index.html" class="square-button button-animation">Home</a>
                <a href="payment.html" class="active-button square-button button-animation">Booking</a>
            </nav>
        </div>

        <div class="contact-section">
            <div class="contact-container">
                <h2>Enquire</h2>
                <a href="mailto:lavenderthyme@protonmail.com" class="email-link">Email me: lavenderthyme@protonmail.com</a>
            </div>
        </div>

        <div class="payment-section">
            <div class="payment-container">
                <h2>Payment Options</h2>
                <div class="payment-options">
                    <div id="payment-amount" class="payment-amount">
                        <h2>Consultation Fee</h2>
                        <p class="price">£55 - 75.00</p>
                        <h3>Paypal: daisylily527@gmail.com<h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="pricing-section" class="pricing">
        <h2>Pricing</h2>
        <div class="pricing-cards">
            <div id="card1">
                <h3>Initial consultation</h3>
                <p id="price">£55 - 75</p>
                <p>1-2 hours</p>
            </div>
            <div id="card2">
                <h3>Follow up</h3>
                <p id="price">£35</p>
                <p>Time as necessary: 30 minutes - 1 hour</p>
            </div>
        </div>

        <p>Remedies / postage paid separately - usually between £10 - 15.
            <br>
            Includes support by email.
            <br>
            Please enquire for more details.
        </p>
    </section>
</body>    