<main class="w-full max-w-lg mx-auto">
  <h1 class="text-5xl font-secondary mb-12">Consultations</h1>

  <section class="space-y-8 relative" data-purpose="consultation-flow">
    <div class="relative flex gap-4 md:gap-8 items-start">
      <!-- Vertical Line Segment -->
      <div class="vertical-connector"></div>
      <div
        class="z-10 shrink-0 w-10 h-10 rounded-full border-2 border-gray-300 bg-white flex items-center justify-center font-bold text-gray-500 transition-all duration-300"
        id="one"
        >
        1
      </div>

      <article
        class="grow p-6 rounded-2xl card-shadow flex flex-col justify-center transition-all hover:scale-95"
        id="card1"
        >
        <h2 class="text-2xl font-semibold mb-2">Initial consultation</h2>
        <ul class="text-lg opacity-90 text-left list-disc ml-4">
            <li>1-2 hours</li>
            <li>Talk about your health concerns and goals</li>
            <li>Offer personalized remedies</li>
        </ul>

      </article>
    </div>
    <div class="relative flex gap-4 md:gap-8 items-start">
      <div
        class="z-10 shrink-0 w-10 h-10 rounded-full border-2 border-gray-300 flex items-center justify-center font-bold text-gray-500 transition-all duration-300"
        id="two"
        >
        2
      </div>

      <article
        class="grow p-6 rounded-2xl card-shadow flex flex-col justify-center transition-all hover:scale-95"
        id="card2"
        >
        <h2 class="text-2xl font-semibold text-gray-900 mb-2">Follow up</h2>
        <ul class="text-gray-600 text-lg opacity-90 text-left list-disc ml-4">
          <li>Time as necessary: 30 minutes – 1 hour</li>
          <li>Discuss how you’re getting on with the remedies and make any necessary adjustments</li>
        </ul>
      </article>
    </div>
  </section>
  <footer class="mt-12 text-center" data-purpose="pricing-and-support">
    <div class="space-y-3 text-gray-500 text-sm leading-relaxed px-4">
      <p>Remedies / postage paid separately – usually between £10 – 15.</p>
      <p>Includes support by email.</p>
      <p class="font-medium text-gray-700">Please enquire for more details.</p>
    </div>
  </footer>
</main>
